:root{
    --primary-color:#032D5F;
    --secondary-color:#EDC34C;
    --third-color:#f5f5f5;
    --font-khmer:'Suwannaphum', serif;
    --font-eng:'Roboto';
  }
  /** Style Navbar */
  .nav-custom{
    background-color: var(--primary-color);
    color: var(--third-color);
    font-family: var(--font-khmer);
  }
  
/** Card Style*/
     .card {
        margin: 10px;
        width:300px;
        height: auto;
        border: 1px solid #032d5f;
      }

      #comming-card, #best-sell {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      .card-text, .btn, h3 {
        font-family: var(--font-khmer);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }


  