:root{
    --primary-color:#032D5F;
    --secondary-color:#EDC34C;
    --third-color:#f5f5f5;
    --font-khmer:'Nokora', serif;
    --font-eng:'Roboto';
  }
  
  .content{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 25px;
    width: 300px;
}
.card img{
    width: 100%;
}

.btn-right{
    float: right;
    font-family:var(--font-khmer);
}

.card-text, .price{
    font-family: var(--font-eng);
    font-weight: bold;
}

.price{
    font-size: 24px;
}